@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.links{
    color: rgb(19, 49, 19);
    /* font-weight: 700; */
}
a.active .links{
color: rgba(83, 6, 155, 0.964) !important;
}

.inputes-form-signup{
    /* border: 1px solid red; */
    outline: none;
}

.foo-bar{
    /* background-color: rgb(95, 84, 84) !important;
    color: rgb(61, 3, 55) !important; */
}

.container-form{
    /* border: 1px solid red; */
    width:700px;
    margin: auto;
}
@media (max-width:800px) {
    .container-form{
        width:90%;
    }
}

.img-card{
    /* border: 1px solid red; */
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.nav-card{
    text-transform: uppercase;
}

/* skeleton */
.react-loading-skeleton {
    --base-color: #4a484c !important;
    --highlight-color: #b9c0c2 !important;
}
.card-skeleton{
    position: relative;
    /* border: 3px solid red; */
    width:380px
}

.btn-skeleton{
position: absolute;
/* bottom: 0px; */
right: -140px;
/* border: 3px solid rgb(111, 0, 255); */
}



/* Example using Font Awesome icons: */
/* .swiper-button-prev::after {
    content: "\f053";
    font-family: Font Awesome 5 Free;
    font-weight: 900;
  }
  
  .swiper-button-next::after {
    content: "\f054"; 
    font-family: Font Awesome 5 Free;
    font-weight: 900;
  } */

  .swiper-button-next img,
.swiper-button-prev img {
  width: 30px;
  height: 30px;
  /* Adjust as needed */
}


.cart{
    /* border: 1px solid red; */
    width: fit-content;
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 15;
}
.parent-cart{
    /* border:2px solid rgb(13, 0, 255); */
     height:75vh;
     overflow-y :scroll ;
}
.parent-cart::-webkit-scrollbar{
    display: none;
  }


  .parent-swiper{
    /* border: 3px solid red; */
    position: relative;
    cursor: pointer;
  }
  .parent-btn-swiper{
    /* border: 3px solid rgb(0, 153, 255); */
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 50%;
  }
  .img-swiper{
    /* border: 2px solid red; */
    height: 500px;
  }