@tailwind base;
@tailwind components;
@tailwind utilities;

.links{
    color: rgb(19, 49, 19);
    /* font-weight: 700; */
}
a.active .links{
color: rgba(83, 6, 155, 0.964) !important;
}

.inputes-form-signup{
    /* border: 1px solid red; */
    outline: none;
}

.foo-bar{
    /* background-color: rgb(95, 84, 84) !important;
    color: rgb(61, 3, 55) !important; */
}